header{
    background-color: gray;
    height: 100px;
}
.zdjeciehtml{
    width: 100px;
    height: 100px;
    float: left;
}
.zdjeciecss{
    width: 100px;
    height: 100px;
    float: left;
}
.zdjeciejava{
    width: 120px;
    height: 100px;
    z-index: 1;
    float: left;
}
.menu1{
    position: absolute;
    margin-top: -60px;
    margin-left: 320px;
}
.menu2 a{
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color:black;
}
.menu2 .menuprogram2{
    margin-left: 270px;
    position: absolute;
    margin-top: -40px;
    border-radius: 20px;
}
.menu1 button{
    background-color: red;
    border: 3px solid black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 
}
.menu1 button:hover{
    background-color: green;
    transition: 0.2s all ease;
}

.menu2 a:hover{
    background-color: green;
    border-radius: 20px;
    transition: 0.4s all ease;
}
.menu2{
    background-color: red;
    display: none;
    border-radius: 20px;
    
}
.menu1:hover .menu2{
    display: block;
}
.menuprogram2{
    background-color: green;
    display: none;
}

.menuprogram1:hover .menuprogram2{
    display: block;
}
.menuprogram2 a:hover{
    background-color: red;
    border-radius: 20px;
    transition: 0.3s all ease;
}
.menuonas2 {
    display: block;
    background-color: blue;
    width: 150px;
    border-radius: 20px;
    margin-left: -2px;
    position: absolute;
    
}
.menuonas2 a{
    text-decoration: none;
    font-size:20px ;
    font-family: sans-serif;
    color: white;
    padding:5px ;
    display: block;
}
.menuonas2 a:hover{
    background-color: rgb(216, 29, 216);
    border-radius: 20px;
    transition: 0.2s all ease;
}
.menuonas2{
    display: none;
}
.menuonas1:hover .menuonas2{
    display: block;
}
.menuonas1{
    position: absolute;
    margin-top:-61px ;
    margin-left: 400px;
}
.menuonas1 button{
    background-color: rgb(4, 0, 255);
    border: 3px solid black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 
}
.menuonas1 button:hover{
    background-color: rgb(216, 29, 216);
    transition: 0.3s all ease;
}